%script(async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
/ Color of the day Vertical
%ins.adsbygoogle(data-ad-client="ca-pub-4537870932323189" data-ad-slot="9554864750" style="display:inline-block;width:160px;height:600px")
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});
