
/* $background-color: #ffffff; */
/* $code-background: #ffffff; */
/* $code-border: 2px solid #000000; */
/* @if(lightness($main-color) < 50) { */
/*   $background-color: adjust-lightness($main-color, 70); */
/*   $code-border: 2px solid #000000; */
/*   $code-background: #ffffff; */
/* } @else { */
/*   $background-color: shade($main-color, 80); */
/*   $code-border: 2px solid #ffffff; */
/*   $code-background: #000000; */
/* } */

/* @import "compass/css3/border-radius"; */

/* body { */
/*   color: $main-color; */
/*   background-color: $background-color; */
/* } */

/* .code { */
/*   background-color: $code-background; */
/*   border: $code-border; */
/*   padding: 10px; */
/*   @include border-radius(5px); */
/* } */

/* a { */
/*  color: $main-color; */
/*  text-decoration: none; */
/*  font-weight: bold; */
/* } */

/* .btn-group { */
/*   margin: 5px; */
/*   color: $main-color; */
/*   a { */
/*     text-decoration: none; */
/*     @include border-radius(5px); */
/*     border: 2px solid shade($main-color, 20); */
/*     background-color: adjust-lightness($background-color, -10); */
/*     padding: 5px; */
/*     margin: 3px; */
/*     &:hover { */
/*       background-color: adjust-lightness($background-color, -5); */
/*     } */
/*   } */
/* } */

/* @if(lightness($main-color) < 50) { */
/*   h1 { color: adjust-lightness($main-color, 5); } */
/*   h2 { color: adjust-lightness($main-color, 10); } */
/*   h3 { color: adjust-lightness($main-color, 15); } */
/*   h4 { color: adjust-lightness($main-color, 20); } */
/*   h5 { color: adjust-lightness($main-color, 25); } */
/*   h6 { color: adjust-lightness($main-color, 30); } */
/* } @else { */
/*   h1 { color: shade($main-color, 5); } */
/*   h2 { color: shade($main-color, 10); } */
/*   h3 { color: shade($main-color, 15); } */
/*   h4 { color: shade($main-color, 20); } */
/*   h5 { color: shade($main-color, 25); } */
/*   h6 { color: shade($main-color, 30); } */
/* } */