/*
Error: Invalid CSS after "  color: ": expected expression (e.g. 1px, bold), was "#%{code};"
        on line 5 of /home/fedex/code/cotd/views/templates/style.scss

1: @import "compass/css3/border-radius";
2: 
3: code {
4:   padding: 5px;
5:   color: #%{code};
6:   &.light {
7:     background-color: #ffffff;
8:   }
9:   &.dark {
10:     background-color: #000000;

Backtrace:
/home/fedex/code/cotd/views/templates/style.scss:5
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/script/lexer.rb:220:in `expected!'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/script/parser.rb:573:in `assert_expr'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/script/parser.rb:62:in `parse'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:1027:in `sass_script'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:880:in `value!'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:753:in `block in try_declaration'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:1141:in `call'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:1141:in `rethrow'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:766:in `try_declaration'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:661:in `block_child'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:642:in `block'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:635:in `ruleset'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:350:in `watch_or_update'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:50:in `process_result'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
/home/fedex/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
/home/fedex/.rvm/gems/ruby-2.1.5/bin/sass:23:in `load'
/home/fedex/.rvm/gems/ruby-2.1.5/bin/sass:23:in `<main>'
/home/fedex/.rvm/gems/ruby-2.1.5/bin/ruby_executable_hooks:15:in `eval'
/home/fedex/.rvm/gems/ruby-2.1.5/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  color: \": expected expression (e.g. 1px, bold), was \"#%{code};\"\A         on line 5 of /home/fedex/code/cotd/views/templates/style.scss\A \A 1: @import \"compass/css3/border-radius\";\A 2: \A 3: code {\A 4:   padding: 5px;\A 5:   color: #%{code};\A 6:   &.light {\A 7:     background-color: #ffffff;\A 8:   }\A 9:   &.dark {\A 10:     background-color: #000000;"; }
